@font-face {
  font-family: "Scriptorama";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Scriptorama"), url("/fonts/scriptorama.woff2") format("woff2");
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
.first-letter {
  font-size: 30px;
  font-weight: bold;
  font-family: serif;
  color: #004D40;
}
